/*------------------------Stylesheet Section------------------------*/

    /*Mise en forme des titres*/

main {
    font-family: 'Open Sans', sans-serif ;
}

.career-title {
        font-size: 2.1em;
        font-weight: bold;
        text-transform: uppercase;
        padding-left: 15px;

}
    
main h3 {
    font-size: 0.95em;
    font-weight: bold;
}

main h4 {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

main h5 {
    font-size: 0.85em;
    font-weight: semi-bold;
}

    /*Mise en forme des paragraphes*/

main p {
    
    text-align: justify;
    font-size: 1em;
}


    /*Ajout d'un soulignage sous les titres des articles*/

main .title {
    border-bottom: solid 3px #FF5722;
    margin-left: 15px;
    margin-right: 15px;
}

    /*Formatage des icones des career-titles*/

.icone {
    color:#FF5722;
    font-size: 2.9em;
    margin-bottom: 10px;
}

.puce {
    color:#FF5722;
    font-size: 0.5em;
}

.puce_i {
    color: red;
    font-size:1em ;
}