/*-------------------------- Page de style CV Web--------------------------*/

/* Polices & Textes */

em {
    font-style: normal;
    color: blue;
}

span.underlined {

    border-bottom: solid 1.5px blue;

}

p {
    font-size: 1em;
}

li {
    list-style-type: none;
    font-size: 1em;
    display: inline-block;
    padding-left: -30px;
}

h1 {
    font-size: 2.5em;
    text-transform: uppercase;
}

h2 {
    font-size: 1.3em;
    text-transform: uppercase;
}

h3 {
    font-size: 1.1em;
}

h4 {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}
/* Largeur de la page */

body {
    width: auto;
}

/* Mise en page du bandeau vertical à droite */
.left-block {
    overflow-wrap: break-word; /* Inclus une césure des textes débordants*/
    height: 1448px;
    background-color: blue;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    position: relative;
}

#profil {
    color: white;
}

.banner {
    background-color: black;
    color: white;
    text-align: center;
    margin: 20px;
    padding: 5px;
}

.profilpic {
    text-align: center;
    margin: 30px;
}

/* Mise en forme du contenu */

.contenu {

    margin-left: 30px;
}

.xp {

        border-bottom: solid blue 2px;
}
.formation {

    border-bottom: solid blue 2px;
}

/* Mise en forme des icones */

i {
    display: block;
    color: blue;
    font-size: 50px;
    margin-right: 15px;
    padding-bottom: 20px;
    position: relative;
    text-align: left;
}